body{
    background-color: rgb(32, 32, 32);

}
.container h1{
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 19px;
    font-size: 38px;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    
}
.input input{
    padding: 12px;
    width: 240px;
    margin-inline: 2px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.input button{
    padding: 12px;
    width: 70px;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.input button:hover{
    background-color: rgb(90, 88, 88);
    color: white;

}
